<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_launcher_max"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_launcher_max"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamsReservation"
        tools:targetApi="31">
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Starting"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Customer -->
        <activity android:name=".activities.MenuCustomerActivity" />
        <activity android:name=".activities.MyReservationsActivity" />
        <activity android:name=".activities.InformationRoomActivity" />
        <activity android:name=".activities.RoomsFilterActivity" />
        <activity android:name=".activities.FormReservationActivity" />
    </application>

</manifest>